*{
    font-family:Verdana;
    margin:0;
}

.flex-container{
    display: flex;
    width: 100%;
    max-width: 960px;
    margin:0 auto ;
    
   
}

nav{
    background-color: #333;
    
}

li{
    list-style-type: none;
    margin-left: 0;
    padding: 0;
text-align: center;
    align-items: center;
    flex-grow: 1;
    
}
nav a{
    text-decoration: none;
    color: white;
    display: block;
    border: 1px solid #2a80b5;
    padding: 10px;
}
li:hover{
    background-color: #555;
    cursor: pointer;
}
@media screen and (max-width: 768px){
    .flex-container{
        display: flex;
    }
    
    .box{
        display: flex;
        flex-direction: row;
    }
    li{
        flex:1 1 0;
    }
    nav a{
        text-align: center;
    }
}